body {
    background-color:rgba(233, 234, 251, 0.891);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.dash-board {
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: repeat(2, 1fr); */
}

.side-bar {
    grid-row: 1 / 3;
    background-color: #2d689c;
    color: white;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project-section {
    grid-row: 1 / 3;
}

.project-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
    grid-gap: 1em;
    margin: 0;
    padding: 0;
}

.project-content-1,.project-content-2,
.project-content-3,.project-content-4,
.project-content-5,.project-content-6 {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: white;
    height: 15em;
    border-left: 10px ridge orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    /* align-items: s */
}

.upper-header,
.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

li>svg {
    height: 25px;
    fill: #ffffff;
}

.branding {
    display: flex;
    align-items: center;
}

li>a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px; 
}

div>svg {
    height: 20px;
}

.branding>svg {
    height: 45px;
}

.search-bar-container {
    display: flex;
    gap: 10px;
}

input[type="search"] {
    width: 30em;
    height: 2em;
    background-color: rgba(233, 234, 251, 0.891);
    border-radius: 4px;
}

div>img {
    border-radius: 50%;
}

.notification-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center; 
    
}

.info-image {
    margin-bottom: 1px;
}

.name-info {
    margin-top: 1px;
}

.buttons {
    display: flex;
    gap: 20px;;
}

button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #2d689c;
    color: white;
}

.project-section>h4{
    margin-left: 20px;
}

.project-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 10px;
}

.annoucement-container {
    padding:10px;
    background-color: white;
    border-radius: 10px;
}

.trending-container {
    background-color: white;
    border-radius: 15px;
    font-size: 0.8em;
    padding: 10px;
}

.trending-item {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.trending-item>img {
    height: 25px;
}

.trending-item>.desc {
    line-height: 2px;
}

.project-content>.content,.announcement-item>.content {
    font-size: 0.8em;
}

.project-content>.head, .announcement-item>.head {
    font-weight: bold;
}